---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Testimonial from '../components/Testimonial.astro';
import NoTextCursor from '../components/NoTextCursor.astro';
import Services from '../components/Services.astro';
---

<Layout title="Zhive249">
	<main>
		<Hero/>
		<Services/>
		<Testimonial/>
		<NoTextCursor />
	</main>
</Layout>